<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Pirate Form</title>
  </head>
  <body>
    <form action="/pirates" method="post">
      <h2>Pirate:</h2>
      <p>Name: <input type="text" name="pirate[name]"></p>
      <p>Height: <input type="text" name="pirate[height]"></p>
      <p>Weight: <input type="text" name="pirate[weight]"></p>
      <p><label for="ship1">Ship 1</label></p>
      <p>Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
      <p>Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>
      <p>Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p>
      <p><label for="ship2">Ship 2</label></p>
      <p>Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
      <p>Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>
      <p>Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
